<h1>Portfolio</h1>
<a href="https://website-johnathandiscua.c9users.io/pages/home">Go Home</a>
<a href="https://website-johnathandiscua.c9users.io/portfolios/new">Add</a>

<% @portfolios.each do |portfolio| %>
  <p><%= portfolio.title %></p>
  <p><%= portfolio.subtitle %></p>
  <p><%= portfolio.body %></p>
  <%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %>

<% end %>

<a href="https://website-johnathandiscua.c9users.io/pages/home">Go Home</a>