<h1>Portfolio</h1>

<% @portfolios.each do |portfolio| %>
  <p><%= portfolio.title %></p>
  <p><%= portfolio.subtitle %></p>
  <%= image_tag portfolio.main_image %>
  <%= image_tag portfolio.thumb_image %>

<% end %>