<body style= "background-color:#0F9400; color:#00FFFD; font-family:sans-serif">
<p style= "font-size:50px">Homepage</p>

<h2>Welcome!!</h2>

<a href="https://website-johnathandiscua.c9users.io/messages">Talk To Me!!</a>
<a href="https://website-johnathandiscua.c9users.io/pages/p1">About This Site</a>
<a href="https://website-johnathandiscua.c9users.io/pages/p2">Contact Through A Different Media</a>
<a href="https://website-johnathandiscua.c9users.io/pages/p3">Feel Good Page</a>
<a href="https://website-johnathandiscua.c9users.io/pages/p4">Strange Data</a>
<a href="https://website-johnathandiscua.c9users.io/pages/p5">Don't know yet</a>
<a href="https://website-johnathandiscua.c9users.io/pages/p6">Don't know yet</a>
<a href="https://website-johnathandiscua.c9users.io/portfolios">Portfolio</a>
<a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjoDEP6xAc4ZZGkXFIeJF1UILKAesFiuRzAJWPOr5C5nnbaZaPQA">Me!!</a>
</body>