<body style= "background-color:#8100CE; color:#FFFF00">
<h1>About</h1>
<p>This website is for the class I am currently attending during this year of 2017, but more importantly this website is for the people. Yes this site is really terrible but I will be editing it in order to make a more fun and much better experience.</p>
<a href="https://website-johnathandiscua.c9users.io/pages/home">Go Home</a>
</body>