<body style= "background-color:#B20000; color:#BEFF00">
<h1>Contacts</h1>
<ul style= "font-size:20px">Find Me On:
  <li>Facebook: Johnathan Discua</li>
  <li>Instagram: johnathandiscua</li>
  <li>Snapchat: johnathandiscua</li>
</ul>
<a href="https://website-johnathandiscua.c9users.io/pages/home">Go Home</a>
</body>