<h1>Data Inspection</h1>
<p>I Dont Know What This Is For</p>

<h1>Messages</h1>
<%= @posts.inspect %>

<h1>Skill</h1>
<%= @skills.inspect %>

<a href="https://website-johnathandiscua.c9users.io/pages/home">Go Home</a>